.players {

    .card-player {
        width: 15rem;
        height: 20rem;
        border: 1px solid black;
        // background-image: url('../../assets/img/logo.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;
        background-color: white;


        &-name {
            position: absolute;
            top: 30%;
            transform: rotate(270deg);
            font-size: 35px;
            width: 100%;
            right: 40%;
            color: black;
            text-transform: capitalize;
            font-weight: bold;
            // bottom: 90%;
        }
    }

}